

.images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }
    #img1{
    width: 300px;
    height:300px;
    
    }
    h1{
    color: white;
    margin: 0 0 15px 0;
    font-size: 36px;
    
    }
    h2{
    color:#030348;
    font-weight: 400;
    font-size: 36px;
    }
    p{
      font-size: 26px;
      color: #030348;
    
    }