form{
    border: none;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: #759EDA;
  width: 40%;
  margin: 0px;
  padding: 40px;
  }
  button{
    cursor: pointer;
    border:none;
    font-size: 30px;
    color: #1a256b;
    background-color: #5879c7;
    padding: 30px 50px;
    
  
  }
  label{
    border: none;
  color: white;
  font-size: 30px;
  }